<!--フォローページ-->
<div class="container">
  <div class="row text-center">
    <div class="col-sm-12 mb-4">
      <h4>フォローしているユーザー</h4>
    </div>
  </div>
  
  <%= render 'relationships/follow', users: @users %>
  <%= paginate @users %>
</div>