<!--いいねした記事一覧表示-->
<div class="container">
  <div class="row mb-4 text-center">
    <div class="col-sm-12">
      <h4>いいねしたレビュー</h4>
    </div>
  </div>
  
  <div class="row">
    <%= render 'reviews/review', reviews: @reviews %>
  </div>
</div>
