<!--イメージマップからの絞り込みページ-->
<div class="container">
  <div class="row mb-4 text-center">
    <div class="col-sm-12">
      <h4><%= @area_name %>のレビュー</h>
    </div>
  </div>

  <div class="row">
    <%= render 'reviews/review', reviews: @reviews %>
  </div>

  <!--ページャ機能-->
  <%= paginate @reviews %>
</div>
