<!--レビュー一覧表示-->
<div class="container">
  <div class="row mb-4 text-center">
    <div class="col-sm-12">
      <h4>レビュー一覧</h4>
    </div>
  </div>
  
  <!--フラッシュメッセージ-->
  <div class="row text-center">
    <div class="font col-sm-12">
      <% if flash[:success] %>
        <p class="flash"><%= flash[:success] %></p>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= render 'reviews/review', reviews: @reviews %>
  </div>
  
  <!--ページャ機能-->
  <%= paginate @reviews %>
</div>